/* GRID GERAL */
.conteiner {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidenav content anuncios"
    "footer footer footer";
}
.header{
    grid-area: header;
}
.sidenave{
    grid-area: sidenav;
}
.content{
    grid-area: content;
}
.anuncios{
    grid-area: anuncios;
}
.footer{
    grid-area: footer;
}





img {
  max-width: 100px;
}