*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Vollkorn', serif;
}
main p{
    font-size: 1.250em;
}